<div>Отклонение от сортировки на складах и СЦ (общий)</div>

<form [formGroup]="formGroup">
  <mat-form-field>
    <mat-label>Сортировка</mat-label>
    <mat-select formControlName="sortLastMile">
      <mat-option [value]="SortLastMileType.All">Все</mat-option>
      <mat-option [value]="SortLastMileType.LM">ПМ</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Окно, дней</mat-label>
    <mat-select formControlName="sortRecentDaysCount">
      @for (number of recentDaysCountArray; track number) {
      <mat-option [value]="number">{{ number }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Колонки</mat-label>
    <mat-select formControlName="sortColumnTypes" multiple>
      @for (columnType of columnsTypes; track columnType) {
      <mat-option [value]="columnType">{{ columnType | columnHeaderName }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Поиск</mat-label>
    <input formControlName="searchField" matInput placeholder="Введите значение.." #input />
  </mat-form-field>
</form>

@if (firstColumnIdsList$ | async; as firstColumnIdsList) {
<mat-table [dataSource]="tableData$ | async" class="mat-elevation-z8" matSort>
  @for (columnName of firstColumnIdsList$ | async; track columnName) {
  <ng-container [matColumnDef]="columnName" [sticky]="columnName === 'sortingCenter'">
    <mat-header-cell *matHeaderCellDef mat-sort-header>
      {{ columnName | columnHeaderName }}
    </mat-header-cell>

    <mat-cell *matCellDef="let element" [style.background-color]="element[columnName + '-cell-color']">
      {{ element[columnName] ?? 0 }}
    </mat-cell>
  </ng-container>
  } @if (columnsTypesCount$ | async; as showingColumnsCount) { @for (columnName of secondColumnIdsList$ | async; track
  columnName) {
  <ng-container [matColumnDef]="columnName" [sticky]="columnName === 'empty'">
    <mat-header-cell
      *matHeaderCellDef
      [style.max-width.px]="columnName === 'empty' ? 124 : 124 * showingColumnsCount"
      [style.min-width.px]="columnName === 'empty' ? 124 : 124 * showingColumnsCount"
    >
      {{ columnName | columnHeaderName }}
    </mat-header-cell>
  </ng-container>
  } }

  <mat-header-row *matHeaderRowDef="firstColumnIdsList; sticky: true"></mat-header-row>

  <mat-header-row *matHeaderRowDef="secondColumnIdsList$ | async; sticky: true"></mat-header-row>

  <mat-row *matRowDef="let row; columns: firstColumnIdsList"></mat-row>
</mat-table>
}
