mat-table {
  display: table;
}

mat-cell,
mat-header-cell {
  font-weight: 400;
  padding: 0 !important;
  min-width: 124px;
  max-width: 124px;
}

.table {
  &__nested-table-wrapper {
    overflow: hidden;
    display: flex;
  }

  &__row {
    height: 0;
    min-height: 0;
  }

  &__header-cell {
    &_col-1 {
      min-width: 124px;
      max-width: 124px;
    }

    &_col-2 {
      min-width: 248px;
      max-width: 248px;
    }

    &_col-3 {
      min-width: 372px;
      max-width: 372px;
    }
  }
}
